// Configurable variables
params {
  outdir = './results'
  sexchroms = "X,Y"
  exclude = "^GL|^hs|^chrEBV\$|M\$|MT\$|^NC|_random\$|Un_|^HLA\\-|_alt\$|hap\\d+\$"
  zthreshold = 3.5
  distancethreshold = 150000
  slop = 500000
  project = false
}

process {
  errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker {
    docker.enabled = true
    process {
        withName: 'run_indexcov' {
            container = "brentp/smoove:v0.2.3"
        }
        withName: 'build_report' {
            container = "jupyter/scipy-notebook:7d427e7a4dde"
        }
    }
  }
  singularity {
    singularity.enabled = true
    process {
        withName: 'run_indexcov' {
            container = "brentp/smoove:v0.2.3"
        }
        withName: 'build_report' {
            container = "jupyter/scipy-notebook:7d427e7a4dde"
        }
    }
  }
  none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/logs/timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/logs/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/logs/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/logs/dag.svg"
}

manifest {
  name = 'brwnj/covviz'
  author = 'Joe Brown'
  description = "find large, coverage-based variations on chromosomes"
  version = '1.0'
  nextflowVersion = '>=0.32.0'
  homePage = 'https://github.com/brwnj/covviz'
  mainScript = 'main.nf'
}
