// Configurable variables
params {
    outdir = './results'
    // used as QC and critical to seeing sex-based differences in covviz
    sexchroms = 'X,Y'
    // exclude these chromosome patterns from coverage analysis
    exclude = '^GL|^hs|EBV\$|M\$|MT\$|^NC|_random\$|Un_|^HLA\\-|_alt\$|hap\\d+\$'
    // the point at which we determine a sample is an outlier from the group at any given point
    zthreshold = 3.5
    // when calculating significance, the Z-score has to be above the threshold for consecutive points up to the total distance set by distance threshold
    distancethreshold = 150000
    // slop is the distance to add to traces when plotting -- without slop, it's not always clear what happens to the points immediately flanking the area of significant deviation
    slop = 500000
    // show all traces when analyzing this few samples; ignores z-threshold, distance-threshold, and slop
    minsamples = 8
    // output of indexcov is written as <project>-indexcov.*
    project = false
    // custom ped file, used to supplement ped of indexcov
    ped = false
    // column of sample IDs in your custom ped file
    samplecol = 'sample_id'
}

process {
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 3
    maxErrors = '-1'
    container = 'brwnj/covviz:v1.1.4'
    withLabel: 'indexcov' {
        container = 'brentp/smoove:v0.2.3'
        memory = 8.GB
        cache = 'deep'
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.runOptions = '--bind /scratch'
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = 'brwnj/covviz'
    author = 'Joe Brown'
    description = "find large, coverage-based variations on chromosomes"
    version = '1.1.1'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/brwnj/covviz'
    mainScript = 'main.nf'
}
